<h2>"{{title}}" has been added to the database.</h2>
<h4>Its color is {{color}}. Is it local?: {{local}}</h4>
<br> 
<form method="get" onclick="location.href='detail?title={{title}}';" >
    <input type="button" class="btn btn-info" value="See details" />
</form>
<hr>
<h4> Go to the <a href="/">Home</a>
 page to see this as well as the other contents of the array.</h4>



