
    {{#if queryString}}
    <h2> "{{queryString}}" has been successfully deleted. There are now {{arrayLength}} dogs left in the array.</h2>
<br><hr>
<h4> Go to the <a href="/">Home</a>
 page.</h4>
{{else}}
It appears that your request was unsucessful.
    {{/if}}
